:host {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 2rem;
  min-height: 90vh;
  background-color: #f9f9f9;
}
