<div class="container">
  <h2 class="section-title">My <span class="highlight">Passions</span></h2>

  <div class="hobbies-wrapper">
    <a *ngFor="let hobby of hobbiesList"
       [href]="hobby.link"
       target="_blank"
       class="hobby-card">

      <div class="icon-container">
        <img [src]="hobby.icon" [alt]="hobby.name" class="hobby-icon">
      </div>

      <div class="content-box">
        <span class="text">{{ hobby.name }}</span>
        <p class="description">{{ hobby.description }}</p>
      </div>

      <div class="link-hint">↗</div>
    </a>
  </div>
</div>
